webservice水印/客户端/Client/Connected Services/service/WaterMark.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WaterMarker2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="words" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WaterMarker2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WaterMarker2Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WaterMarker2SoapIn">
    <wsdl:part name="parameters" element="tns:WaterMarker2" />
  </wsdl:message>
  <wsdl:message name="WaterMarker2SoapOut">
    <wsdl:part name="parameters" element="tns:WaterMarker2Response" />
  </wsdl:message>
  <wsdl:portType name="WaterMarkSoap">
    <wsdl:operation name="WaterMarker2">
      <wsdl:input message="tns:WaterMarker2SoapIn" />
      <wsdl:output message="tns:WaterMarker2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WaterMarkSoap" type="tns:WaterMarkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WaterMarker2">
      <soap:operation soapAction="http://tempuri.org/WaterMarker2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WaterMarkSoap12" type="tns:WaterMarkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WaterMarker2">
      <soap12:operation soapAction="http://tempuri.org/WaterMarker2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaterMark">
    <wsdl:port name="WaterMarkSoap" binding="tns:WaterMarkSoap">
      <soap:address location="http://localhost/watermaker/WaterMark.asmx" />
    </wsdl:port>
    <wsdl:port name="WaterMarkSoap12" binding="tns:WaterMarkSoap12">
      <soap12:address location="http://localhost/watermaker/WaterMark.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>