webservice传递大文件/接收端/ConsoleApp1/Connected Services/ws/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownloadBigFile">
        <s:complexType />
      </s:element>
      <s:element name="DownloadBigFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadBigFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBigFile" />
  </wsdl:message>
  <wsdl:message name="DownloadBigFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBigFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBigFileHttpGetIn" />
  <wsdl:message name="DownloadBigFileHttpGetOut" />
  <wsdl:message name="DownloadBigFileHttpPostIn" />
  <wsdl:message name="DownloadBigFileHttpPostOut" />
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="DownloadBigFile">
      <wsdl:input message="tns:DownloadBigFileSoapIn" />
      <wsdl:output message="tns:DownloadBigFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="DownloadBigFile">
      <wsdl:input message="tns:DownloadBigFileHttpGetIn" />
      <wsdl:output message="tns:DownloadBigFileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="DownloadBigFile">
      <wsdl:input message="tns:DownloadBigFileHttpPostIn" />
      <wsdl:output message="tns:DownloadBigFileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadBigFile">
      <soap:operation soapAction="http://tempuri.org/DownloadBigFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadBigFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadBigFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DownloadBigFile">
      <http:operation location="/DownloadBigFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DownloadBigFile">
      <http:operation location="/DownloadBigFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/net/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/net/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://localhost/net/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://localhost/net/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>